<div class="home__container">
    <app-game-card 
        gameImage="assets/bt-1.jpg"
        gameCardLabel="Exclusive"
        gameCardConsoles="PC | Xbox | PC"
        gameCardPrice="R$200,00"
    ></app-game-card>
    <app-game-card 
        gameImage="assets/ac-cover.jpg"
        gameCardLabel="Promotional"
        gameCardConsoles="PC | Xbox"
        gameCardPrice="R$17,99"
    ></app-game-card>
    <app-game-card 
        gameImage="assets/bt-4.jpg"
        gameCardLabel="Exclusive"
        gameCardConsoles="Xbox"
        gameCardPrice="R$58,60"
    ></app-game-card>
    <app-game-card 
        gameImage="assets/bt-hardline.jpg"
        gameCardLabel="Exclusive"
        gameCardConsoles="Xbox | PS4 PS5 | PC"
        gameCardPrice="R$269,60"
></app-game-card>
</div>
