<div class="game-card-price__container">
    <div class="game-card-price__content">
        <div class="game-card-price__title">
            <h3>Play it now!</h3>
        </div>

        <div class="game-card-price__value">

            <div class="game-card-price__console">
                <span>|</span>
                <p>{{ gameCardConsoles }}</p>
            </div>

            <div class="game-card-price__price">
                <p class="game-price">{{ gameCardPrice }}</p>
            </div>
        </div>
    </div>
</div>
